body {
  margin: 0px;
  padding: 0px;
}

button {
  height: 70px;
  width: 70px;
}

button i {
  color: red;
}

footer {
  align-items: center;
  background-color: black;
  display: flex;
  flex-direction: row;
  height: 12vh;
  justify-content: space-around;
  width: 100vw;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 76vh;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100vw;
}

main h1 {
  color: rgb(38, 247, 10);
  font-family: 'Press Start 2P', cursive;
  z-index: 1;
}

nav {
  background: rgb(38, 247, 10);
  height: 12vh;
  width: 100vw;
}

#panel {
  background-color: rgba(128,128,128,0.5);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 500px;
  width: 1000px;
  z-index: 1;
}

#video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
}
